{{ define "main" }}
{{ $now := (now.Format "2006-01-01T00:00:00")}}
{{ $mnames := slice "" "JAN" "FEV" "MAR" "ABR" "MAIO" "JUN" "JUL" "AGO" "SEP" "OUT" "NOV" "DEZ"}}

<h1 class="pagetitle">{{ .Title }}</h1>
<div class="agendalist">
  {{ .Content }}
  <!-- 
    filter event-dates in future, order by start-date asc
    allow all tags
    next section: older events, by start-date desc.

    use different templates for active and inactive templates
    (bol links etc)
  -->
  <h2>EM DESTAQUE</h2>
  <ul class="agendalist futureevents">
  {{ range where .Pages ".Params.eventstart" "ge" now}}
     <li class="agendalistitem futureevents">{{ partial "futureevents" . }}</li>
  {{ end }}
  </ul>

  <h2>EVENTOS ANTERIORES</h2>
  
  <ul class="agendalist pastevents">
  {{- $year := "" -}}
  {{- $month := "" -}}
  {{ range where .Pages ".Params.eventstart" "lt" now}}
     {{ $pageyear := .Params.eventstart.Year }}     
     {{ $pagemonth := .Params.eventstart.Month }}     
     {{ if ne $year $pageyear }}
        <li class="year">{{$pageyear}}</li>
        {{ $year = $pageyear }}
        {{ $month = "" }}
     {{ end }}
     {{ if ne $month $pagemonth }}
        <li class="month">{{index $mnames ($pagemonth | int)}}</li>
        {{ $month = $pagemonth }}
     {{ end }}

     <li class="agendalistitem pastevents">{{ partial "pastevents" . }}</li>
  {{ end }}
  </ul>

 </div> 
{{ end }}
