{{ define "main" }}
{{ $now := (now.Format "2006-01-01T00:00:00")}}
<div class="agendalist">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <!-- 
    filter event-dates in future, order by start-date asc
    allow all tags
    next section: older events, by start-date desc.

    use different templates for active and inactive templates
    (bol links etc)
  -->
  <h2>Em destaque</h2>
  <ul class="agendalist futureevents">
  {{ range where .Pages ".Params.eventstart" "ge" now}}
     <li class="agendalistitem futureevents">{{ partial "futureevents" . }}</li>
  {{ end }}
  </ul>

  <h2>Eventos anteriores</h2>
  
  <ul class="agendalist pastevents">
  {{ range where .Pages ".Params.eventstart" "lt" now}}
     <li class="agendalistitem pastevents">{{ partial "pastevents" . }}</li>
  {{ end }}
  </ul>

 </div> 
{{ end }}
