/* gowun-dodum-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gowun Dodum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/gowun-dodum-v12-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Geometr212';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Geometr212_BkCn_BT_Book.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Geometr212';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Geometr212_BkCn_BT_Heavy.woff2') format('woff2');
}



html, body {
  height: 100vh;
  /*font-family: "Gowun Dodum", sans-serif;
  font-family: "Montserrat", sans-serif;*/
  font-family: "Geometr212", sans-serif;

  font-style: normal;
  /*font-weight: 400;*/

  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 1em;
  padding-right: 1em;
}

header {
  margin-bottom: 1rem;
}

.head-title {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
  font-family: "Geometr212", sans-serif;
  font-style: normal;
  font-weight: 700;

  max-width: 900px;
  margin: 0 auto;

}

.hamburger {
  display: none;
}

span.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.lvl1 {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: bottom;
  align-content: bottom;
  gap: 1.5rem;
}

.lvl2 {
  margin-top: 0.5em;
}

.lvl1 a {
  text-decoration: none;
  color: black;
}

.lvl1 a:hover {
  text-decoration: none;
  color: #888;
}

.lvl1 a.active {
  text-decoration: underline;
  color: #e85a22;
  text-underline-offset: 18px;
}
.lvl1 a.ancestor {
  text-decoration: underline;
  color: #e85a22;
  text-underline-offset: 18px;
}



footer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

header,footer {
  flex-shrink: 0;
  flex-direction: column;
}


.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

}

.copy {
  margin: 1em;
}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
}

.page-footer {
  background-color: #e68a00;
  color: white;
}


.social, .contact, .bottomlinks {
  padding: 1em;
  margin: 1em;
  flex-grow: 1;
}

a {
  color: #0f0f0f;
  text-decoration: none;
}

.footer-content a {
  color: #ffffff;
  text-decoration: none;
}

.bottomlinks a {
  text-decoration: underline;
}
.contact a {
  text-decoration: underline;
}


.list-container {

  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items:stretch;
}

.list-item-container {
  border-radius:25px;
  border: 2px solid #888;
  padding: 1.5em;
  margin: 1em;
}

.summary > img {
  float: left;
  margin-right: 1em;
}

.summary > a {
  font-size: 1.5em;
  border-radius: 0.25em;
  padding-left:1em;
  padding-right:1em;
  text-align:justify;

}

.maybefloater {
   float: right;
   max-width: 200px;
}


.agendalist h2 {
  font-size: 0.7em;
  margin-bottom:2.5em;
}

ul.agendalist {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

ul.agendalist .year {
  color: #e85a22;
  margin-left: 8em;
  margin-bottom: 0.3em;
  margin-top: 1em;
}

ul.agendalist .month {
  margin-bottom: 1em;
  margin-top: 1.5em;
  font-weight: bold;
  font-size: 0.9em;
}

ul.agendalistitem .date {
  font-weight: bold;
}

.agendalistitem span {
  display: inline-block;
}

.agendalistitem .sep {
  font-size: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.agendalistitem .title {
  font-size: 0.7em;
  font-weight: normal;
  text-transform: uppercase;
}

.agendalistitem .place {
  font-size: 0.7em;
  font-weight: normal;
  text-transform: uppercase;
}

.agendalistitem .artist {
  font-size: 0.6em;
  font-weight: normal;
  text-transform: uppercase;
}


.contentimgfloat, p:has(img.contentimgfloat) {
  float: right;
}

.contentimg {
  max-width: 90%;
}




@media (max-width: 600px) {
  header, footer, .footer-content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px){
  .navbar {
    align-items:flex-start;
    justify-content: space-between;
  }
  .lvl1 {
    position:fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
    background-color:white;
    opacity: 1;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.5);
    align-items: stretch;
    justify-content: center;
    gap: 0;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    /*width: 200px;*/
    padding-left: 0;
    font-size: 1.25em;
    font-weight: bold;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .lvl1.active {
    left: 0;
  }
  .lvl1 a.active {
    text-decoration: none;
  }
  .lvl1 a.ancestor {
    text-decoration: none;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .lvl1 li {
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top:4px;
    padding-bottom:4px;
  }

  .lvl1 > li:nth-child(even) {
    background-color: #fcfcfc;
  }
  
  .lvl1 a {
    font-size:1.25em;
  }
 .social, .contact, .bottomlinks {
    padding: 0.25em;
    margin: 0.25em;
  }

 
}


