/* gowun-dodum-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gowun Dodum';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/gowun-dodum-v12-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* shadows-into-light-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/shadows-into-light-v22-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* mountains-of-christmas-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mountains of Christmas';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/mountains-of-christmas-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mountains-of-christmas-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mountains of Christmas';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/mountains-of-christmas-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



html, body {
  height: 100vh;
  font-family: "Gowun Dodum", sans-serif;
  font-style: normal;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header {
  margin-bottom: 1rem;
}

.head-title {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-family: "Shadows Into Light", sans-serif;
  font-style: normal;
  font-weight: 400;


}

.hamburger {
  display: none;
}

span.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.lvl1 {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.lvl2 {
  margin-top: 0.5em;
}

.lvl1 a {
  text-decoration: none;
}

.lvl1 a:hover {
  text-decoration: underline;
}





footer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

header,footer {
  flex-shrink: 0;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

  background-color: black;
  color: white;
}

.copy {
  margin: 1em;
}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.social, .contact, .bottomlinks {
  padding: 1em;
  margin: 1em;
  flex-grow: 1;
}

a {
  color: #0f0f0f;
  text-decoration: none;
}

.footer-content a {
  color: #ffffff;
  text-decoration: none;
}

.bottomlinks a {
  text-decoration: underline;
}
.contact a {
  text-decoration: underline;
}


.list-container {

  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items:stretch;
}

.list-item-container {
  border-radius:25px;
  border: 2px solid green;
  padding: 1.5em;
  margin: 1em;
}

.summary > img {
  float: left;
  margin-right: 1em;
}

.summary > a {
  font-size: 1.5em;
  background-color: green;
  border-radius: 0.25em;
  padding-left:1em;
  padding-right:1em;
  text-align:justify;

}

.maybefloater {
   float: right;
   max-width: 200px;
}

@media (max-width: 600px) {
  header, footer, .footer-content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px){
  .lvl1 {
    position:fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
    opacity: 1;
    background-color: #b3ffb3;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.5);
    align-items: stretch;
    justify-content: center;
    gap: 0;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    /*width: 200px;*/
    padding-left: 0;
    font-size: 1.25em;
    font-weight: bold;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .lvl1.active {
    left: 0;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  /* WIP */
  .lvl1 li {
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top:4px;
    padding-bottom:4px;
  }

  .lvl1 > li:nth-child(even) {
    background-color: #80ff80;
  }
  
  .lvl1 a {
    font-size:1.25em;
  }
 .social, .contact, .bottomlinks {
    padding: 0.25em;
    margin: 0.25em;
  }

 
}


