<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<!-- preload fonts -->

{{ with resources.Get "fonts/gowun-dodum-v12-latin_latin-ext-regular.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-Black.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-BlackItalic.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-Bold.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-BoldItalic.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-ExtraLightItalic.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-ExtraLight.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-LightItalic.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-Light.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-Italic.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-Regular.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-MediumItalic.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-Medium.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-ThinItalic.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}
{{ with resources.Get "fonts/Montserrat-Thin.woff2" }}
  <link rel="preload" href="{{ .RelPermalink }}" as="font" type="font/woff2" crossorigin>
{{ end }}












{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
